<br>
<br>
<h3 style="text-align: center;color: red">View Contact Details</h3>
<br>
<br>
<div class="col-md-8 offset-md-3">
    <div>
        <label><b>First Name : </b></label>{{contact.firstName}}
    </div>
    <br>
    <div>
        <label><b>Last Name : </b></label>{{contact.lastName}}
    </div>
    <br>
    <div>
        <label><b>Email : </b></label>{{contact.email}}        
    </div>
    <br>
    <div>
        <label><b>Phone Number : </b></label>{{contact.phoneNumber}}        
    </div>
</div>

